*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary_color: #ff6d63;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #00853e, #50c878);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_profile{
    width: 270px;
    height: 400px;
    background-color: #242628;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.card_image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--primary_color);
    margin: 0 auto;
    transform: translatey(25px);
    transition: all ease 0.3s;
}

.card_image:hover{
    width: 100%;
    height: 100%;
    border-radius:unset;
    border: none;
    transform: unset;
    cursor: pointer;
}

.card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h2.card_name {
    color: #fff;
    font-weight: 600;
    padding-top: 45px;
    text-transform: capitalize;
    font-size: 27px;
}

p.card_title {
    color: var(--primary_color);
    text-transform: capitalize;
    padding: 10px 0;
    cursor: pointer;
}

.card_social {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 20px;
}

.card_social a ion-icon{
    color: #fff;
    font-size: 25px;
    transition: 0.4s;
}

.card_social a ion-icon:hover{
    color: var(--primary_color);
}

button.card_action {
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary_color);
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    transition: ease-in-out 0.3s;
}

button.card_action:hover{
    background-color: var(--primary_color);
    cursor: pointer;
}